<template name="leftNav">
  <nav id="sidebar-wrapper" class="col-md-2 bg-light sidebar main-container">
    <div class="sidebar-sticky">


      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link {{getClass dashboardPath}}" href="{{dashboardPath}}">
            <i class="fal fa-home"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{getClass clientsPath}}" href="{{clientsPath}}">
            <i class="fal fa-users"></i>
            Clients
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{getClass projectsPath}}" href="{{projectsPath}}">
            <i class="fal fa-books"></i>
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{getClass entriesPath}}" href="{{entriesPath}}">
            <i class="fal fa-clock"></i>
            Entries
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{getClass transactionsPath}}" href="{{transactionsPath}}">
            <i class="fal fa-credit-card"></i>
            Transactions
          </a>
        </li>
      </ul>

    </div>
  </nav>
</template>
